@import "../../../tiger/component/navbar/navbar.component.scss";

$evenColorItem: #577CEF;

.detection-content {
  display: flex;
  justify-content: center;
  height: 100vh;
  gap: 1rem;
  padding: 4rem;
  height: 100%;
  width: 100%;

  .result-content {
    fa-icon#results {
      color: $evenColorItem;
    }
  }
}

.grid-col-2 {
  grid-column: span 2;
}

.grid-row-2 {
  grid-row: span 2;
}

.image-box {
  width: 15rem;
  height: 15rem;
  flex-shrink: 0;
}

.modal-header{
  background: $home-color;
  color: white;
}

.detection-analyses-grid {
  width: 25rem;
  display: grid;
  gap: 0.6rem;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 7rem);

  .analyse-item {
    border-radius: var(--16, 1rem);
    background: var(--primary-blue, #E3F5FF);
    box-shadow: 5px 7px 0px rgba(0, 0, 0, 0.25), 1px 3px 3px 0px rgba(0, 0, 0, 0.25), -2px 0px 4px 0px rgba(255, 255, 255, 0.79), 2px 0px 6px 0px rgba(255, 255, 255, 0.40);

    &.lymfo {
      .lymfo-content {
        margin-top: 1rem;
        margin-left: 1rem;

        span {
          font-weight: bold;
        }
      }
    }

    &.speed {
      .speed-content {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        margin: 1rem;
      }
    }

    &.mse {
      .mse-content {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        margin: 1rem;
      }
    }

    &.total {
      .total-content {
        margin-top: 3rem;
        margin-left: 2rem;

        & p:nth-of-type(even) {
          font-weight: bold;
          font-size: 1.5rem;
          text-align: center;
          padding-left: 0;
        }
      }
    }

    &:nth-child(even) {
      border-radius: 0.6875rem;
      background: $evenColorItem;
      color: white;
    }

    &:last-child {
      grid-column-start: 3;
      grid-row: 1 / span 3;
    }
  }
}

.detection-score {
  display: flex;
  width: 22rem;
  height: 32rem;
  flex-direction: column;
  border-radius: 1.875rem;
  background: linear-gradient(180deg, #7857FF 0%, #2E2BE9 100%);

  .detection-description {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6.6rem;
    margin: 2rem;
    color: white;

    .detection-tils-wrapper {
      h1 {
        font-weight: bold;

      }

      .score-total span {
        font-weight: 100;
      }
    }
  }
}


fa-icon#results {
  cursor: pointer;
}

.loading-spinner {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #3498db;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
  margin: 10px auto;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}