/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css?family=Montserrat");
@import url("https://fonts.googleapis.com/css?family=Poppins");



html,
body {
    height: 100vh;
    font-size: 13px;
    font-family: 'Poppins', 'Montserrat', sans-serif;
    overflow-y: hidden; /* Skryje vertikálny posuvník */
  overflow-x: hidden; /* Skryje horizontálny posuvník */
}