.img-content {
    background-color: blue; // Farba pozadia - červená
    width: 15rem;
    height: 15rem;
    flex-shrink: 0;
    border-radius: var(--16, 1rem);
    background-size: cover; /* Obrázok sa má prispôsobiť tak, aby pokryl celý štvorec bez deformácie */
    background-repeat: no-repeat; /* Obrázok sa nemá opakovať */
  }
  