<ng-container>
    <div class="container-fluid mt-5 d-flex justify-content-center">
        <div class="row segmentation-content">
            <!-- Výber algoritmu -->
            <div class="col-3">
                <div class="algo-pick-content">
                    <div class="algo-description">
                        <div class="row align-items-center title">
                            <div class="col-10">
                                <h5>Výber algoritmu</h5>
                            </div>
                            <div class="col-2">
                                <fa-icon class="px-2" [icon]="infoIcon" size="2x" [tooltip]="popTemplate"
                                    placement="right"></fa-icon>
                                <ng-template #popTemplate>
                                    <div [innerHTML]="tooltipText"></div>
                                </ng-template>
                            </div>
                        </div>
                        <!-- CNN UNET algo PICK -->
                        <div class="row pick">
                            <div class="col">
                                <label class="mb-2">CNN sieť</label>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="segmentationCnnAlgorithm"
                                        [id]="eficientUnet.id" [value]="eficientUnet" [(ngModel)]="selectedAlgoritm">
                                    <label class="form-check-label" [for]="eficientUnet.id">
                                        {{ eficientUnet.name }}
                                    </label>
                                </div>
                            </div>
                        </div>
                        <!-- Segmnetation algo PICK -->
                        <div class="row pick">
                            <div class="col">
                                <div class="form-check" *ngFor="let algorithm of segmentationAlgorithms; let i = index">
                                    <hr class="divider-algo" *ngIf="i === segmentationAlgorithms.length - 1">
                                    <input class="form-check-input" type="radio" name="segmentationAlgorithm"
                                        [id]="algorithm.id" [value]="algorithm" [(ngModel)]="selectedAlgoritm">
                                    <label class="form-check-label" [for]="algorithm.id">
                                        {{ algorithm.name }}
                                    </label>
                                </div>
                            </div>
                        </div>
                        <!-- CNN algo PICK -->
                        <div class="row pick">
                            <div class="col" [class.disabled]="isCnnRequiredForPick()">
                                <label class="mb-2">CNN sieť na predikciu K</label>
                                <div class="form-check" *ngFor="let cnn of cnnAlgorithms">
                                    <input class="form-check-input" type="radio" name="segmentationCnnAlgorithm"
                                        [id]="cnn.id" [value]="cnn" [(ngModel)]="selectedCnnAlgoritm">
                                    <label class="form-check-label" [for]="cnn.id">
                                        {{ cnn.name }}
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Výber sipka -->
            <div class="col">
                <ConnectProcess />
            </div>
            <!-- Výber tkanina -->
            <!-- DICE -->
            <div class="col-2 dice-box">
                <ImageUploader [isEnabled]="selectedAlgoritm?.id != undefined" [title]="'segmentácia'"
                    (onUploadedTissue)="onSegmentationStart($event)" />
                    <progressbar *ngIf="loading" [value]="progressValue" type="danger" [striped]="true">
                        {{progressValue}}%</progressbar>
                <div class="mt-4">
                    <div class="row mt-2">
                        <div class="dice-result">
                            <div class="row mb-2"><span>DICE</span></div>
                            <div *ngIf="loading; else content" class="loading-spinner"></div>
                            <ng-template #content>
                                <div class="row text-center">
                                    <span>{{ segmentedResult.dice !== 0 ? segmentedResult.dice : '0' }}%</span>
                                </div>
                            </ng-template>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <ConnectProcess />
            </div>
            <!-- Výsledky segmentácie -->
            <div class="col-4">
                <div class="segmentation-results">
                    <div class="results-wrapper d-flex align-items-center">
                        <div class="col-md-2">
                            <div class="vertical-text">Predikcia</div>
                        </div>
                        <div class="col-md-10">
                            <SegmentationResultImg [imageBase64]="segmentedResult.segmentedPrediction" />
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="results-wrapper d-flex align-items-center">
                            <div class="col-md-2">
                                <div class="vertical-text">Originál</div>
                            </div>
                            <div class="col-md-10">
                                <SegmentationResultImg [imageBase64]="segmentedResult.segmentedOrigin" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-container>